* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40% 1fr;
  grid-template-areas: 
  'nav section section section'
  'nav main main main';
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

img {
  height: 25px;
  width: 25px;
}
button:focus {outline:0;}

nav {
  height: 100%;
  background-color: #1F1F3D;
  grid-area: nav;
  color: white;
  display: flex;
  flex-direction: column;
}

nav h1 {
  font-size: 1.25em;
  font-weight: 700;
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #353567;
}

nav h6 {
  color: #5356A4;
  font-size: .8em;
  padding: 15px;
  font-weight: 400;
  margin: 0;
}

.filter-header {
    border-top: 1px solid #353567;
}

nav button{
  
  background-color: #5356A4;
  color: #E9E9F3;
  border: 1px solid #5356A4;
  padding: 10px 0px 10px 0px;
  margin: 0px 15px 15px 15px;
}

/* middle 3 buttons */
.swill-quality {
  background-color: #1F1F3D;
  border-bottom: none;
  border-left: 7px solid #1F1F3D;
  border-right: none;
  border-top: none;
  color: #FFFFFF; 
  margin: 0px;
  padding: 10px 0px 10px 8px;
  text-align: left;
}
/*not a hover this is the selected state */
.swill-quality:hover {
  background-color: #D12119;
  border-bottom: none;
  border-left: 7px solid #F58E72;
  border-right: none;
  border-top: none;
  color: #FFFFFF; 
  margin: 0px;
  padding: 10px 0px 10px 8px;
  text-align: left;
}
 #quality-btn {
  margin-left: 0px;
  width:100%;
 }
nav form {
  padding:0px 15px;
  border-bottom: 1px solid #353567;
}

nav form label {
  display: block;
  font-size: .8em;
  color: #BFBFDD;
  font-weight: 400;
  margin: 15px 0px;
}
nav form input {
  color: #5356A4;
  width: 100%;
  height:45px;
}

section {
  grid-area: section;
  background-color: #A9AAD2;
  padding: 10px 25%;
}

section form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section form label{
    font-weight: 700;
    color: #1F1F3D;
    font-size: 1em;
    margin-bottom: 5px;
}

section form input {
  color:#5356A4;
  margin-bottom: 15px;
  border: 1px solid #353567;
  height: 15%;
}

section form textarea {
  color:#5356A4;  
  margin-bottom: 15px;
  border: 1px solid #353567;
  resize: none;
  height: 20%;
}

section form button {
  color: #FFFFFF;
  background-color: #353567;
  border: #353567;
  margin-bottom: 15px;
  padding: 10px;
}

section div {
  display: flex;
  background-color: #353567;
}

section div input {
  color:#5356A4;
  height: 100%;
  margin: 0;
  width: 100%;
}

::placeholder {
  color:#5356A4;
  font-size: .7em;
  padding: 10px;
}

main {
  grid-area: main;
  background-color: #eaeaf4;
  padding: 20px;
}

article {
  background-color: white;
}

article header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
}

article p {
  margin: 12px;
}

article footer {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #5356A4;
}

article footer p {
  margin: 0;
}