* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 55% 1fr;
  grid-template-areas: 
  'nav section section section'
  'nav main main main';
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-color: ##eaeaf4
}

img {
  height: 30px;
  width: 30px;
}
button:focus {outline:0;}

nav {
  height: 100%;
  background-color: #1F1F3D;
  grid-area: nav;
  color: white;
  display: flex;
  flex-direction: column;
}

nav h1 {
  font-size: 1.25em;
  font-weight: 700;
  padding: 15px;
  margin: 10px 0px;
  border-bottom: 3px solid #353567;
}

nav h6 {
  color: #5356A4;
  font-size: .95em;
  padding: 15px;
  margin: 10px 0px;
}

.filter-header {
    border-top: 3px solid #353567;
    padding-top: 20px;
}

nav button{
  background-color: #5356A4;
  color: #E9E9F3;
  border: 1px solid #5356A4;
  padding: 10px 0px 10px 0px;
  margin: 10px 15px 25px;
  font-size: 1.25em;
  font-weight: 700;
}

/* middle 3 buttons */
.swill-quality {
  background-color: #1F1F3D;
  border-bottom: none;
  border-left: 7px solid #1F1F3D;
  border-right: none;
  border-top: none;
  color: #FFFFFF; 
  margin: 0px;
  padding: 10px 0px 10px 8px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
}
/*not a hover this is the selected state */
.swill-quality-active {
  background-color: #D12119;
  border-bottom: none;
  border-left: 7px solid #F58E72;
  border-right: none;
  border-top: none;
  color: #FFFFFF; 
  margin: 0px;
  padding: 10px 0px 10px 8px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
}
 #quality-btn {
  margin-left: 0px;
  width:100%;
  border-radius: 3px;
 }

#show-star-btn {
  border-radius: 3px;
}


nav form {
  padding:0px 15px;
  border-bottom: 3px solid #353567;
}

nav form label {
  color: #5356A4;
  font-size: .95em;
  display: block;
  font-weight: 700;
  margin: 15px 0px 7px;
}
nav form input {
  color: #5356A4;
  width: 100%;
  height:45px;
  margin-bottom: 20px;
}

section {
  grid-area: section;
  background-color: #A9AAD2;
  padding: 10px 27%;
}

section form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section form label{
    font-weight: 700;
    color: #1F1F3D;
    font-size: 1em;
    margin: 15px 0px 10px 0px;
}

section form div img{
  margin: 12px;
  height: 24px;
  width: 24px;
}

section form input {
  color:#5356A4;
  margin-bottom: 15px;
  border: 1px solid #353567;
  height: 11%;
  padding: 5px;
  border-radius: 3px;
}

section form textarea {
  color:#5356A4;  
  margin-bottom: 20px;
  border: 1px solid #353567;
  resize: none;
  height: 24%;
  padding: 5px;
  border-radius: 3px;
}

section form button {
  color: #FFFFFF;
  background-color: #353567;
  border: #353567;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 3px;
  font-size: 1.2em;
  letter-spacing: 1px;
}

section div {
  display: flex;
  background-color: #353567;
  height: 12%;
  border-radius: 3px;
}

section div input {
  color:#5356A4;
  height: 100%;
  margin: 0;
  width: 100%;
}

::placeholder {
  color:#5356A4;
  font-size: .9em;
}

main {
  grid-area: main;
  background-color: #eaeaf4;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10% 2%;
}

article {
  height: fit-content;
  background-color: white;
  border: 2px solid #1F1F3D;
}

article header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
  padding: 3px;
}

article div {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article p {
  margin: 8px 12px;
}

.article__title {
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.2em;
}

.article__body {
  margin-bottom: 24px;
  font-size: 1.2em;
  line-height: 1.4em;
}

article footer {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #5356A4;
  padding: 8px 5px;
  align-items: center;
  height: 41px;
}

article footer p {
  margin: 0;
}



card {
  display: flex;
  justify-content: center;
  align-items: center;
  width:300%;
  height:300px;
  border-radius:150px;
  margin-left: auto;
  border: 2px dashed #5356A4;
  align-self: center;
  justify-self: center;
  background-color: ##eaeaf4;

}

card p {
  width:200px;
  background-color: ##eaeaf4
}